<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DoF Explorer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header class="navbar">
    <div class="container">
      <h1>DoF <strong>Explorer</strong></h1>
    </div>
  </header>

  <div id="app" class="container row">
    <div class="col1">
      <div class="box">
        <h2>Circle of confusion</h2>

        <div class="field">
          <label for="sensor-size">Sensor size:</label>
          <select id="sensor-size" v-model="sensorIndex">
            <option v-for="(eachSensor, i) in sensorSizes" v-bind:value="i">{{eachSensor.symbol}}</option>
          </select>
        </div>
      </div>

      <div class="box">
        <h2>Plotting</h2>

        <div class="field">
          <label for="y-axis">Y axis:</label>
          <select id="y-axis" v-model="yPlot">
            <!--<option value="nf">near &amp; far limit</option>-->
            <option value="total">total depth</option>
            <option value="hyperfocal">hyperfocal</option>
          </select>
        </div>

        <div class="field">
          <label for="x-axis">X axis:</label>
          <select id="x-axis" v-model="xPlot">
            <option value="aperture">aperture</option>
            <option value="focal">focal length</option>
            <option value="subject" v-bind:disabled="yPlot == 'hyperfocal'">subject distance</option>
          </select>
        </div>

        <div class="field" v-if="xPlot == 'focal'">
          <label for="focal-range">Focal range:</label>
          <select id="focal-range" v-model="xFocalRange">
            <option value="wide">wide angle</option>
            <option value="normal">normal</option>
            <option value="tele">telephoto</option>
          </select>
        </div>

        <div class="field" v-if="xPlot == 'subject'">
          <label for="subject-range">Distance range:</label>
          <select id="subject-range" v-model="xSubjectRange">
            <option value="near">&lt; 1 m</option>
            <option value="normal">1 m – 5 m</option>
            <option value="far">5 m – 10 m</option>
            <option value="super-far">10 m – 100 m</option>
          </select>
        </div>
      </div>

      <div class="box">
        <h2>Parameters</h2>

        <div class="field" v-if="xPlot != 'aperture'">
          <label for="aperture">Aperture:</label>
          <span class="value">f/{{ aperture }}</span>
          <input id="focal" type="range" class="slider" v-model="fStop" min="0" v-bind:max="fStops.length - 1">
        </div>

        <div class="field" v-if="xPlot != 'focal'">
          <label for="focal">Focal length:</label>
          <span class="value">
            {{ focal }}&nbsp;mm
            <small v-if="sensorIndex > 0">(<abbr title="35 mm equivalent">eq.</abbr> {{ focalEquiv }}&nbsp;mm)</small>
          </span>
          <input id="focal" type="range" class="slider" v-model="logFocalEquiv" min="1" max="2.48" step="0.01">
        </div>

        <div class="field" v-if="xPlot != 'subject' &amp;&amp; yPlot != 'hyperfocal'">
          <label for="subject">Subj. distance:</label>
          <span class="value">{{ formatLength(subject) }}</span>
          <input id="subject" type="range" class="slider" v-model="logSubject" min="-1" max="2" step="0.01">
        </div>

        <button class="btn" v-on:click="keep()">Keep</button>
      </div>
    </div>

    <div class="col2">
      <div class="box">
        <div id="plot"></div>
      </div>

      <!--<div class="box">
        <span class="legend-item">current settings</span>
      </div>-->
    </div>
  </div>

  <footer class="foot">
    &copy; 2017 by <a href="https://mrozwadowski.com/">MR</a> &middot;
    Fork me on <a href="https://github.com/hejmsdz/dof-explorer" target="_blank">GitHub</a>
  </footer>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="scripts.js"></script>
</body>
</html>
