body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: #ebebeb;
  color: #171717;
  font-size: 16px;
}

.container {
  max-width: 960px;
  margin: auto;
}

.navbar {
  background: #4b85f9;
  color: #fff;
  padding: 1em;
  margin-bottom: 36px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

h1 {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  display: inline;
  padding: 5px 0 5px 72px;
  background: url('logo.svg') no-repeat 0 -2px;
  background-size: 64px;
}

#app {
  transition: .5s opacity;
}

[v-cloak] {
  opacity: 0;
}

@media screen and (min-width: 560px) {
  .col1 {
    display: flex;
    justify-content: space-between;
  }

  .col1 .box {
    width: 100%;
  }
}

@media screen and (min-width: 940px) {
  .row {
    display: flex;
  }

  .col1 {
    width: 300px;
    display: block;
  }

  .col1 .box {
    width: auto;
  }

  .col2 {
    width: 100%;
    max-width: 640px;
  }
}

.box {
  background: #fff;
  padding: 1em;
  margin: 0 10px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  color: #5d5d5d;
  margin: .3em 0 .5em;
}

.field {
  padding-bottom: .5em;
}

label {
  display: inline-block;
  font-weight: bold;
  width: 7em;
}

.value {
  color: #464646;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  margin: 15px 0 20px;
  border: none;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #4b85f9;
  margin-top: -9px;
  border: none;
  width: 10px;
  height: 25px;
  border-radius: 4px;
}

.slider::-moz-range-thumb {
  -moz-appearance: none;
  background: #4b85f9;
  margin-top: -9px;
  border: none;
  width: 10px;
  height: 25px;
  border-radius: 4px;
}

.slider::-webkit-slider-runnable-track {
  height: 6px;
  background: #ebebeb;
  border-radius: 4px;
}

.slider::-moz-range-track {
  height: 6px;
  background: #ebebeb;
  border-radius: 4px;
}

.slider:focus::-webkit-slider-runnable-track {
  background: #b9b9b9;
}

.slider:focus::-moz-range-track {
  background: #b9b9b9;
}

.slider::-moz-focus-outer {
  border: none;
}

select {
  background: #fff;
  font-family: inherit;
  font-size: inherit;
  border: 2px solid #ebebeb;
  color: #464646;
  padding: 5px 18px 5px 6px;
  width: 8.2em;
  border-radius: 4px;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(data:image/gif;base64,R0lGODlhCwALAIABAIuLi////yH5BAEKAAEALAAAAAALAAsAAAIPjI+py+0fgJzz0IruwjsVADs=);
  background-repeat: no-repeat;
  background-position: 95% 42%;
}

select:focus {
  border-color: #b9b9b9;
}

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  background: #4b85f9;
  color: #fff;
  padding: 8px 20px;
  border-radius: 4px;
}

#plot {
  width: 100%;
  overflow: hidden;
}

.legend-item {
  color: #2e2e2e;
  margin-right: 1em;
}

.legend-item::before {
  font-size: 90%;
  margin-right: 5px;
  color: #f94b4b;
  content: '\2b24';
}

.foot {
  color: #747474;
  font-size: 12px;
  text-align: center;
  padding-bottom: 1em;
}

.foot a {
  color: #5d5d5d;
}
